*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: static;
}

body {
    /* background-image: url("images/Background.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
}

.heading {
    color: #f7f5f5; /* Change text color to dark gray */
    font-size: 12px; /* Set font size to 30 pixels */
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add 20 pixels of space above the heading */
    margin-left: 280px;
    font-family: Arial, sans-serif; /* Set the font family to Arial or any sans-serif font */
}


.card{
    width: 90%;
    max-width: 470px;
    background-color: #1c2223;
    background-image: linear-gradient(19deg, #1c2223 0%, #544759 100%);
    
    color: #fff;
    /* margin: 100px auto 0; */
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img
{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.container .content{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
 }
 
 .container .content h3{
    font-size: 25px;
    color:#4e0404;
 }
 
 .container .content h3 span{
    background: rgb(20, 19, 19);
    color:#fff;
    border-radius: 5px;
    padding:0 15px;
 }
 
 .container2 .content2{
    /* text-align: right; */
    /* display: absolute; */
    margin-left: 500px;
    /* margin-top: 90px; */
    margin-bottom: -40px;
 }

 .container2 .content2 .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #333;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
 }
 
 .container2 .content2 .btn:hover{
    background: crimson;
 }
